
.fox {
    width: 32px;

}

.raccoon {
    width: 32px;

}

header {
    display: flex;
    justify-content: end;
    align-items: center;
}

header > * {
    font-size: 14px;
    padding: 10px;



}











/*MAIN*/
main {
    display: block;
    text-align: center;
    margin-top: 100px;

}

.google-div img{
    width: 272px;
    height: 92px;
}



/*FORM*/

.form {
    display: block;
    padding: 10px;

}


.type-search{
    width: 582.4px;
    min-width: 358.4px;
    padding: 16px 10px 10px 40px;
    margin-bottom: 10px;
    border-radius: 24px;
    flex: 1 1 100%;
    background-image: url("../../Images/magnifying-glass-svgrepo-com.svg");
    background-repeat: no-repeat;
    background-size: 16px;
    background-position: 16px 14px;
    border: 1px solid #dfe1e5;



}

.type-search:hover{
    box-shadow: 1px 1px 8px 1px #dcdcdc;
}

.inputs {
    margin-top: 5px;
    margin-bottom: 10px;

}

[type=submit] {

    font-size: 14px;
    margin: 11px 4px;
    border-radius: 4px;
    height: 36px;
    background: #f8f9fa;
    min-width: 54px;
    text-align: center;
    padding: 0 16px;

}
[type=submit]:hover {
    background: #f8f9fa;
    border: gainsboro 1px solid;
}








a {
    text-decoration-line: none;
}





a:hover{
    text-decoration-line: underline;
}




/* FOOTER */
footer {
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    position: fixed;

    background: #f2f2f2;
}

footer div {

    display: block;
}

.Aa {
    border-bottom: #dddee2 1px solid;
    padding: 10px;
}

.Ba {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 10px 0px 10px 0px;
}

h3 {
    font-size: 1.2rem;
    padding: 10px;
    color: #808080;


}

.Ba2{
    display: flex;
}

.Ba3 {
    display: flex;
}
